.titleBar {
  min-height: 48px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;
}

.titleBar h1 {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

.addCard {
  max-width: 720px;
  margin: 0 auto;
  border: 1px solid grey;
  min-height: 500px;
}

.addCard__inputs {
  width: 25%;
  margin: 0 auto;
}

.addCard__inputs * {
  display: block;
  margin-top: 1rem;
}