.cardscreen {
    min-height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.screen-title {
}

.screen-title h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.tips-title {
    text-align: left;
    font-size: 16pt;
    font-style: bold;
    font-weight: 500;
}

.tip-card {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: left;
    color: #000;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.tip-card-header {
    margin-top: -10px;
    font-size: 12pt;
}

.tip-card-header p {
    font-size: 16px;
    font-style: bold;
    margin-bottom: -6px;
}

.tip-card-content {
    font-size: 13px;
}
.add-more-section {
    margin-top: 10px;
}
